@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;700&display=swap');


*{
  font-family: 'Lexend', sans-serif;
}
body{
  background-image: url(../image/backgroundpic.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
  background-attachment: fixed;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}



.navbar a{
  color: black;
  font-weight: 700;
  font-size: 20;
}
.navbar {
  transition: all 0.3s ease;
}
.navbar-brand{
  margin-left: 20px;
}
.navbar.hidden {
  transform: translateY(-100%);
}
.nav-link a:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 2px;
  left: 0;
  background-color: gold;
  transform-origin: bottom right;
  transition: transform 0.5s ease-in-out;
}
.nav-link a:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav-link a:hover{
  color:gold;
}



#section{
  background-image: url(../image/5514.jpg);
    height: 650px;
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
#vision{
  border-radius: 10px;
  box-shadow: 0 3px 10px gray;
}
span.a{
  font-weight: bold;
  font-size: 25px;
}

.nav-tabs .nav-link {
  color:darkgoldenrod;
}
.nav-tabs .nav-link:hover{
  color:black;
}

.nav-tabs .nav-link.active {
  color: black;
}

.card{
  margin: 0 auto;
  float: none;
}

.card-img-top{

  height: 100%;
  width: 100%;
  border-radius: inherit;
  transition: all ease-in-out .4s;
}

.card:hover .card-img-top{
  transform: scale(1.10);
  background-color: white;
}
.card-text a{
  color:goldenrod;
}
.card-text a:hover{
  cursor: pointer;
  color:rgb(0, 0, 0);
}


.card:hover{
  background: white;
  font-size: 15px;
  transition: all ease-in-out .4s;
}
#btncourse {
  margin-top: -20px;
  border-radius: 5px;
  background-color: gold;
  color: black;
  transition: all 0.3s ease-in-out;
}
#btncourse:hover{
  background-color: rgb(206, 151, 11);
  color: white;
}




.counter {
  display: inline-block;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
}

/* Input fields */
.form-control {
  border: 1px solid goldenrod;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}
input[type='text']:focus,
input[type='password']:focus
{
  border-color: gold;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px gold;
  outline: 0 none;
}
#login:hover{
  background-color: white;
}
#register{
  margin-top: 5px;
  color:darkgoldenrod;
}
#register:hover{
  color:black
}
.modal-backdrop {
  position:unset !important;
}








#contact a{
  text-decoration: none;
  color:  black;
}

#contact a:hover{
  color: white;
}











.badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -10px;
  right: 20px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}



  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
  }

  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }


  @media (max-width: 576px) {
    #section {
      background-size: contain;
    }
  }
  
  @media (min-width: 576px) and (max-width: 768px) {
    #section {
      background-size: cover;
    }
  }
  
  @media (min-width: 768px) {
    #section {
      background-size: cover;
    }
  }
  @media (max-width:425px) {
    .navbar-brand{
      margin: 0;
    }
    .navbar{
      margin:0;
    }
  }
 